.link{
    /*чтоб не вытягивалось во всю ширину*/
    display: inline-flex;
    align-items: center;
    font-weight: var(--font-bold);
    color: var(--color-yelow);
    text-decoration: none;

}
.link__img{
    width: 30px;
    height: 30px;
    margin-right: var(--spacing-small);
    object-fit: cover;
    object-position: center center;
}